@import url(http://weloveiconfonts.com/api/?family=brandico);


* {
	box-sizing: border-box;
}


/*Header*/

.nav-bar {
	margin: 10px 10px;
}


.nav-menu {
	margin-top: 12px;
	float:right;
}

#sky-blue-triangle {
	display: none;
}

.nav-list {
	display: none;
	list-style: none;
	margin:auto auto;
	text-align: center;
	font-size: 20px;

}

.nav-item {
	margin: 15px 0px;
	font-family: 'Assistant', sans-serif;

}

.nav-item a {
	text-decoration: none;
	color: #6B5F5F;
}

.nav-item a:hover {
	color: #3791AC;
}

a:visited {
    text-decoration: none;
}

.logo-pic {
	width: 100%;
	z-index: 0;
}

/*Showing post content*/

.post-container {
	border: 1px solid rgba(164, 164, 164, 0.3);
	margin: 30px 20px 30px -20px;
}

.post-image {
	height: 200px;
	width: 200px;
	margin: auto auto;
	background-repeat: no-repeat;
	background-size: contain;
  	background-position: center;
}

/*Footer*/

.footer-line {
	width: 30%;
	margin: 15px auto;
	border-bottom: 1px solid #7d97ad;
}

.social-link-list {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

[class*="brandico-"]:before {
	font-family: 'brandico', sans-serif;
	font-size: 22px;
}

.social-link-list li {
	display: inline-block;
	width: 50px;
	text-decoration: none;
}

.social-link-list li a {
	color: #A4A4A4;
	text-decoration: none;
}

.social-link-list li a:visited {
	text-decoration: none;
	color: #A4A4A4;
}

.social-link-list li a:hover {
	text-decoration: none;
	color: #5EB4CE;
}

