
@media screen and (max-width: 549px) {

  .central-pic{
    margin-top: 30px;
  }

  .index-post-img{
    width: 250px;
    height: 175px;
  }

  .personal-pic {
    margin-bottom: 30px;
  }

}


@media (min-width: 550px) {

  .post-extract{
    font-size: 16px;
    line-height: 22px;
  }

  .personal-pic {
    margin-bottom: 30px;
  }

  .image-position {
    margin: 0px auto;
  }

}

@media (min-width: 768px) {

  #corner-logo {
    width: 70px;
    height: 70px;
    margin-left: 30px;
  }

  .nav-menu {
    display: none;
  }

  .nav-list {
    display: inline-block;
    float: right;
    margin-right:10%;
  }

  .nav-item {
    display: inline-block;
    margin: 25px 20px;
  }


  .social-link-list li {
    width:80px;
  }

  [class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
    font-size: 25px;
  }

  .post-container{
    padding: 24px 20px;
  }

  .post-list {
    margin: 60px 0px;
  }

  /*Post content*/
  .post-content{
    font-size: 19px;
    font-family: 'Droid Serif', serif;
    line-height: 1.9;
  }

  .post-title {
    font-size: 40px;
  }

  .table-columns {
    font-size: 14px;
  }

  .table-content {
    font-size: 14px;
  }

  .post-content h2 {
    font-size: 30px;
  }

  /*About page*/

  .personal-pic-vert{
    margin: auto 0px;
  }

  .contact {
    font-size: 26px;
  }


}

@media (min-width: 992px) {

  [class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
    font-size: 30px;
  }

  .social-link-list li {
    width:100px;
  }

  .post-margins {
    padding-left: 12%;
    padding-right: 12%;
  }



}

@media (min-width: 1200px) {

  .post-margins {
    padding-left: 16%;
    padding-right: 16%;
  }



}