
@media screen and (max-width: 549px) {

  .central-pic{
    margin-top: 30px;
  }

  .index-post-img{
    width: 250px;
    height: 175px;
  }


}

@media (min-width: 550px) {



}

@media (min-width: 768px) {

  #corner-logo {
    width: 70px;
    height: 70px;
    margin-left: 30px;
  }

  .nav-menu {
    display: none;
  }

  .nav-list {
    display: inline-block;
    float: right;
    margin-right:10%;
  }

  .nav-item {
    display: inline-block;
    margin: 25px 20px;
  }


  .social-link-list li {
    width:80px;
  }

  [class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
    font-size: 25px;
  }


}

@media (min-width: 992px) {

  [class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
    font-size: 30px;
  }

  .social-link-list li {
    width:100px;
  }


}

@media (min-width: 1200px) {



}