<header>

  <nav class="nav-bar">
      <a class="navbar-brand" href="{{ site.baseurl }}">
        <img id="corner-logo" src="/img-layout/logo_corner.svg" width="50" height="50" alt="">
      </a>

      <a class="nav-menu" href="#">
          <?xml version="1.0" encoding="UTF-8" standalone="no"?>
          <svg width="40px" height="40px" viewBox="0 0 103 103" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                  <rect id="path-1" x="0" y="0" width="100" height="100" rx="31"></rect>
                  <filter x="-1.5%" y="-1.5%" width="106.0%" height="106.0%" filterUnits="objectBoundingBox" id="filter-2">
                      <feOffset dx="2" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                      <feMorphology radius="3" operator="erode" in="SourceAlpha" result="shadowInner"></feMorphology>
                      <feOffset dx="2" dy="2" in="shadowInner" result="shadowInner"></feOffset>
                      <feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite>
                      <feGaussianBlur stdDeviation="0.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                      <feColorMatrix values="0 0 0 0 0.443137255   0 0 0 0 0.839215686   0 0 0 0 0.960784314  0 0 0 1 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                  </filter>
              </defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Group-2">
                      <g id="Group">
                          <rect id="Rectangle-2-Copy" stroke="#B0B1B4" x="0.5" y="0.5" width="99" height="99" rx="31"></rect>
                          <rect id="Rectangle-3" fill="#D8D8D8" x="20" y="26" width="60" height="8"></rect>
                          <rect id="Rectangle-3-Copy" fill="#D8D8D8" x="20" y="46" width="60" height="8"></rect>
                          <rect id="Rectangle-3-Copy-2" fill="#D8D8D8" x="20" y="66" width="60" height="8"></rect>
                      </g>
                      <g id="Group-Copy">
                          <rect id="Rectangle-2-Copy-2" stroke="#B0B1B4" x="0.5" y="0.5" width="99" height="99" rx="31"></rect>
                          <rect id="Rectangle-3-Copy-3" fill="#D8D8D8" x="20" y="26" width="60" height="8"></rect>
                          <rect id="Rectangle-3-Copy-4" fill="#D8D8D8" x="20" y="46" width="60" height="8"></rect>
                          <rect id="Rectangle-3-Copy-5" fill="#D8D8D8" x="20" y="66" width="60" height="8"></rect>
                      </g>
                      <g id="sky-blue-triangle">
                          <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                          <rect stroke="#71D6F5" stroke-width="3" x="1.5" y="1.5" width="97" height="97" rx="31"></rect>
                      </g>
                  </g>
              </g>
          </svg>
      </a>


      <div class="nav-list">
        <div class="nav-item"><a class="nav-link" href="/about">About</a></div>
        <div class="nav-item"><a class="nav-link" href="/projects">Projects</a></div>
        <div class="nav-item"><a class="nav-link" href="#">Contact</a></div>
      </ul>
  </nav>
</header>
