<header>

  <nav class="nav-bar">
      <a class="navbar-brand" href="#">
        <img src="/img-layout/logo_corner.svg" width="50" height="50" alt="">
      </a>

      <a class="nav-menu" href="#">
        <img src="/img-layout/navbar_img.svg" width="40" height="40" alt="">
      </a>

      <div class="nav-list">
        <div class="nav-item"><a href="#">About</a></div>
        <div class="nav-item"><a href="#">Projects</a></div>
        <div class="nav-item"><a href="#">Contact</a></div>
      </ul>
  </nav>

</header>
